<a href="posts/<%= post.id %>" class="carousel-item">
    <div>
        <h3>
            <%= post.title %>
        </h3>
    </div>
    <div class="relative">
        <img class="w-96 h-64 object-fit" src="<%= post.image ? post.image : '/img/postplaceholder.jpg' %>" alt="image for <%= post.title %>">
    </div>
    <div class="line-clamp-3">
        <p>
            <%= post.content %>
        </p>
    </div>
</a>